on:
  push:
    branches:
      - main
    # tags:
    #   - '*'

jobs:
  run_pull:
    name: run pull
    runs-on: ubuntu-latest

    steps:
    - name: Install ssh keys
      run: |
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
        
    - name: connect, pull and deploy
      run: | 
        ssh admin@${{ secrets.SSH_HOST }}  << 'EOF'
        echo "#!/bin/sh" >> clone.sh
        echo "if ! ls -a | grep -q "project-api"; then" >> clone.sh
        echo "git clone git@github.com:pokerhawk/project-api.git" >> clone.sh
        echo "fi" >> clone.sh
        chmod +x clone.sh
        ./clone.sh
        cd project-api
        git checkout main
        git restore deploy.sh entrypoint.sh
        git pull
        rm .env
        echo "***  8432Adding secrets ***"
        echo 'DATABASE_URL="${{ secrets.DATABASE_URL }}"' >> .env
        echo 'JWT_SECRET=${{ secrets.JWT_SECRET }}' >> .env
        echo 'REFRESH_SECRET="${{ secrets.REFRESH_SECRET }}"' >> .env
        echo 'API_KEY="${{ secrets.API_KEY }}"' >> .env
        echo 'WEATHER_API_KEY="${{ secrets.WEATHER_API_KEY }}"' >> .env
        chmod +x deploy.sh
        chmod +x entrypoint.sh
        ./deploy.sh
        EOF

    - name: cleanup
      run: |
        ssh admin@${{ secrets.SSH_HOST }}  << 'EOF'
        rm -rf project-api
        EOF
        rm -rf ~/.ssh
